<ion-header>
  <ion-toolbar>
    <ion-title>
      Team Git-ty Up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-avatar>
          <img src ="assets/icon/fresh_composite.jpg" alt="Jacob-Avatar">
        </ion-avatar>
        Jacob Chimerine
      </ion-item>
      <ion-item>
        <ion-avatar>
          <img src="https://scontent.fopo2-1.fna.fbcdn.net/v/t1.0-1/p320x320/53817047_587622905069951_2038057819852242944_n.jpg?_nc_cat=109&_nc_ht=scontent.fopo2-1.fna&oh=d2b5c73a38f7016ea7826695c2787907&oe=5D563CFA">
        </ion-avatar>
        Michael Casey
      </ion-item>
    </ion-list>
  </div>
</ion-content>
